# Virtual Environment
venv311/
.venv/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# PyCharm
.idea/

# Temporary uploads
uploads/

# Generated QR
static/qr/*.png

# Generated reports
attendance_report.pdf

# Environment variables
.env
